.rightBoard {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    width: 350px;
    margin-right: 6%;
    margin-top: 2.5rem;
    min-width: 350px;
    border-radius: 10px;
    gap: 1rem;
    z-index: 1000;

}

@media (max-width: 900px) {
    .rightBoard {
        position: relative !important;
        right: auto;
        width: 100%;
        min-width: 0;
        margin: 0 auto;
        max-width: 600px;
        margin-top: 0;
        padding: 1.85rem 5% 1.5rem;
        box-sizing: border-box;
    }
}
