.graphContainer {
  padding: 1rem 1.5rem;
  width: fit-content;
  width: 45%;
  min-width: 520px;
  min-height: 350px;
  max-height: 350px;
  background-color: var(--white);
  border-radius: 10px;

  & .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--highlight-black-500);
  }

  & .subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--highlight-black-700);
  }

}

.chart {
  position: relative;
  transform: translate(0%, 20%);
}

.centerText {
  position: absolute;
  display: flex;
  top: 41%;
  left: 27.5%;
  min-width: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: #1b0066;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.chartSize {
  width: 450px !important;
  height: 250px !important;
}

@media (max-width: 600px) {

  .chart {
    position: relative;
    transform: translate(0%, 10%);
  }

  .chartSize {
    margin-left: -20px !important;
    width: 100% !important;
    height: 200px !important;
  }

  .centerText {
    top: 40% !important;
    left: calc(35% + -64px);

  }

  .graphContainer {
    max-width: 580px !important;
    width: 90% !important;
    min-width: 340px !important;
    max-height: 300px !important;
    min-height: 300px !important;
  }
}