.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #F1F1FB
}

.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-inline: 10%;
    width: 80%;


    & .textContent {
        width: 40%;
        text-align: start;

        & .date {
            font-size: 1.2rem;
            color: var(--highlight-black-500);
        }

        & .title {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: var(--highlight-black-500);
            margin-bottom: 1rem;
        }

        & .description {
            font-size: 1.2rem;
            color: var(--highlight-black-700);
            margin-bottom: 6rem;
        }

        & .homeButtons {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: space-between;
            gap: 50px;
            margin-bottom: 50px;

            & .button {
                border: 1px solid var(--secundary-purple-500);
                padding: 10px 19px;
                border-radius: 10px;
                font-weight: 400;
                text-decoration: none;
                transition: 0.3s ease;
                font-size: 1.15rem;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s ease;
                }
            }

            & .goToPostVision {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secundary-purple-500);
                color: var(--white);
            }

            & .downloadApp {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border: 1px solid var(--secundary-purple-500);
                color: var(--secundary-purple-500);
            }
        }

    }

    .imageContent {
        display: flex;
        justify-content: right;
        align-items: center;

        & .img {
            width: 60%;
            height: auto;
        }
    }

}

.aboutSection {
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    & .aboutContent {
        position: relative;
        width: 80%;
        min-height: 800px;
        padding: 2rem;
        gap: 24px;
        display: flex;
        flex-direction: column;

        & .titleContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        & .title {
            font-size: 2rem;
            font-weight: 600;
        }

        & .hr {
            width: 100px;
            height: 4px;
            background-color: var(--secundary-purple-500);
            border-radius: 8px;
        }

        & .gridAbout {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            margin-top: 2rem;
            align-items: center;
            justify-content: center;

            & .cardAbout {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 12px;
                border-radius: 10px;
                border: 1.5px solid #0d032573;
                padding: 24px;
                width: calc(25% - 20px);
                min-width: 250px;


                & .icon {
                    width: 48px;
                    height: 48px;
                    border: 1.5px solid #33333379;
                    border-radius: 20px;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secundary-purple-500);
                }

                & .titleCard {
                    font-size: 1rem;
                    font-weight: 700;
                    color: var(--highlight-black-500);
                }

                & .descriptionCard {
                    font-size: 0.8rem;
                    color: var(--highlight-black-700);
                }
            }
        }


        & .gridFluxograma {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            margin-top: 2rem;
            align-items: center;
            justify-content: center;

            & .cardFluxograma {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 16px;
                border: 2px solid #0d032573;
                padding: 24px;
                width: calc(20% - 20px);
                min-width: 270px;
                aspect-ratio: 7/6;
                position: relative;

                & .counter{
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--secundary-purple-500);
                    color: var(--white);
                    border-radius: 50%;
                    font-weight: 700;
                    position: absolute;
                    top: -16px;
                    left: 4px;
                }

                & .icon {
                    width: 128px;
                    height: 128px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--secundary-purple-500);
                }
            }
        }


    }
}

@media (max-width: 600px) {
    .homeContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-inline: 0;
        width: 100%;
    }

    .textContent {
        margin-top: 50px;
        width: 90% !important;
        margin-inline: 5% !important;
    }

    .imageContent {
        justify-content: center !important;
        display: none !important;
    }

    .img {
        min-width: 100%;
    }

    .homeButtons {
        gap: 0px !important;
    }

    .button {
        padding: 6px 12px !important;
    }



}