.statusContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--primary-offwhite-500);
}


.mainContainer {
  display: flex;
  flex-direction: column;
  margin-left: 192px;
  width: calc(94% - 542px);
}